.main-menubox {
    display: none;
}

.main-menu:hover .main-menubox{
    display: block;
}


.dropdown-submenu{
    position: fixed;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: fixed;
    right: 3px;
    top: 0px;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 0;
    left: 100%;
}

.dropdown-submenu a::after {
    right: 16px;
    top: 0px;
}

.dropdown-item {
    padding: 8px 18px;
}

    .dropdown-item{white-space: normal}

    .navbar-expand-lg .navbar-nav .dropdown-menu {
    font-size: 14px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #dcdcdc;
}

  li.nav-item{    padding: 10px 20px;}