img { 
    max-width: 100%;
    height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

html {
    font-size:100%;
}

.fa fa-instagram {
    color:white;
}

@media (min-width: 640px) {
    body {font-size:1rem;}
} 

@media (min-width:960px) { 
    body {font-size:1.2rem;} 
} 

@media (min-width:1100px) { 
    body {font-size:1.5rem;} 
} 

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #bs-carousel, #nosso-team, #value_mission_and_vision, #contatos, #footer { width:100%; }
    #header { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #bs-carousel, #nosso-team, #value_mission_and_vision, #contatos, #footer { width:100%; }
    #header { width:100%; margin:0; border:none; }
}